.Eventcard{
	width:72vw;
	height: 330px;
	margin:0 auto;
	display: flex;
	overflow: hidden;
	border: 1px solid #dadce0;
	border-radius:8px;
	margin-bottom:30px;
	flex-wrap: nowrap;
}
.eventcard-left{
	width:40%;
	height: 330px;
}
.eventcard-right{
	width:60%;
	height: 330px;
	/*background: red;*/
	padding-left: 40px;
	padding-right: 40px;
}
.eventcard-tit{
	font-family:'Quicksand',sans-serif;
	font-size:25px;
	font-weight: bold;
	padding-top:30px;
}
.eventcard-des{
	font-size:16px;
	padding-top:10px;
	font-family:'Quicksand',sans-serif;
}
.eventcard-but{
	padding-top: 20px;
	padding-bottom:20px;
}
.team-tit{
	font-size:15px;
	padding-top: 15px;
	font-family: 'Raleway',sans-serif;
}
.table-wrapper{
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.close-btn-cont{
	width:100%;
	height: 55px;
	border-bottom:1px solid lightgrey;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.close-btn-cont span{
	margin-right:20px;
	font-size: 25px;
	cursor: pointer;
	font-weight: bold;
	font-family: 'Raleway',sans-serif;
}
.main-table-cont
{
	width:100%-55px;
	height: 78%;
	overflow-y:auto;
	text-align: center;
}
.even{
	background: white;
}
.odd{
	background: lightgrey;
}
.bottom-margin{
	height:30px;
	border-top:1px solid lightgrey;
	width:100%;
	/*background: red;*/
}
.table-row{
	display: flex;
	width: 100%;
}
.table-col{
	width:50%;
	text-align: center;
	padding:13px;
	font-family: 'Quicksand',sans-serif;
}
@media only screen and (max-width: 10in){
	.Eventcard{
		width:100vw;
		border: none;
		border-radius: 0;
		height: initial;
		flex-wrap: wrap;
	}
	.eventcard-right{
		width:100%;
		height: initial;
		padding-left: 30px;
		padding-right: 30px;

	}
	.eventcard-left{
		width:100%;
		height:160px;
	}
	.eventcard-tit{
		/*padding-top:15px;*/
		font-size:20px;
	}
	.eventcard-des{
		font-size: 14px;
	}
	.eventcard-but{
		padding-top: 5px;
		padding-bottom:0px;
	}
	.main-table-cont{
		height: 82%;
		overflow-y:auto;
	}
}